* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --dark-red: rgb(94, 8, 30);
    --red: rgb(181, 26, 58);
    --pink: rgb(226, 71, 103);
    --light-pink: rgb(228, 131, 151);
    --peach: rgb(228, 205, 211);
}

@font-face {
    font-family: 'BerkshireSwash';
    src: url('../resources/fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../resources/fonts/Inconsolata.ttf') format('truetype');
}

.section {  
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.section #title {
    font-family: BerkshireSwash;
    font-size: 7em;
}

.section .text {
    font-family: BerkshireSwash;
    font-size: 3em;
}

.section .caption {
    font-family: Inconsolata;
    font-size: 1.25em;
}

/* Landing Page */
.section#one {
    background-color: var(--red);
    color: var(--peach);
}

/* Something Cute */
.section#two {
    background-color: var(--pink);
    color: var(--peach);
}

/* Present */
.section#three {
    background-color: var(--light-pink);
    color: var(--peach);
}

/* Webcam */
#webcam {
	height: 62.5%;
	width: 50%;
    margin: 0.5em;
}

#webcam #video {
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */

    width: 100%;
    height: 100%;
}

#webcam #overlay {
	background-color: var(--peach);
    object-fit: cover;

    position: absolute;
    height: 62.5%;
    width: 50%;
    z-index: 1;
}

#webcam-caption {
    visibility: hidden;
}

/* Typewriter */
.typewriter {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.typewriter p {
    font-family: Inconsolata;
    font-size: 24px;
    letter-spacing: 0;
    overflow: hidden;
    text-align: center;;
}

.typewriter .typewriter-text {
    letter-spacing: 0;
}

.cursor {
    display: inline-block;
    width: 0.125em;
    margin-left: 0.125em;

    animation: blink 1s infinite;
    background-color: var(--peach);
}

@keyframes blink {
    0% { background-color: var(--peach); }
    49% { background-color: var(--peach); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: var(--peach); }
}